<!-- <div class="login-container">
    <div class="login-card">
      <h1>Google Smart Capture</h1>
      <p>Sign in to continue to your dashboard</p>
      <button (click)="loginWithGoogle()" class="google-button">
        <img src="../../../../assets/images/googleIcon.png" alt="Google Icon" /> Sign in with Google
      </button>
      <p class="footer">© 2025 Relanto. All rights reserved.</p>
    </div>
  </div> -->


  

   <div class="login-wrapper">
    <div class="login-container">
      <h2 class="welcome-text">Welcome to</h2>
      <h1 class="brand-name">Google Smart Capture</h1>
  
      <p class="login-instruction">Log in with Single Sign-on</p>
  
      <form (submit)="onSubmit($event)">
        <div class="input-group">
          <input type="email" id="email" placeholder="Email address">
        </div>
  
        <button class="continue-btn" (click)="loginWithGoogle()">Continue</button>
      </form>
  
      <a href="#" class="login-with-email">Log in with email address</a>
    </div>
  </div> 
  