.sow-form {
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 55vw;

  .formDiv {
    height: 65Vh;
    overflow-y: scroll;

  }

  .form-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #373839;
  }

  .form-subtitle {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .section-subtitle {
    font-size: 0.8rem;
  }

  .section-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #000000a3;
  }

  .row {
    display: flex;
    gap: 15px;
  }

  .full-width {
    width: 100%;
  }

  .half-width {
    width: 48%;
  }

  .auto-filled {
    color: #4285f4 !important;
    // font-size: 0.83rem;
  }

  .mat-error {
    color: red;
    font-size: 12px;
    font-weight: bold;
  }

  .submit-btn {
    width: 100%;
    margin-top: 20px;
  }

}

mat-form-field {
  width: 100% !important;

  &.half-width {
    width: 48% !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 5px;
  }

  .mat-form-field-infix {
    min-height: 40px !important;
    font-size: 14px !important;
  }

  .mat-input-element {
    height: 40px !important;
    font-size: 14px !important;
  }

  .mat-select {
    min-height: 40px !important;
    font-size: 14px !important;
  }

  .mat-datepicker-toggle {
    height: 40px !important;
    width: 40px !important;
  }
}

.mat-select-panel {
  font-size: 14px !important;
}





.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 8px;
}

mat-chip {
  background-color: #1976d2;
  color: white;
  font-size: 14px;
  padding: 6px;
  border-radius: 16px;
  cursor: pointer;
}


////////////////category poc 
.search-box {
  width: 100%;

  .mat-icon {
    cursor: pointer;
  }

  .option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .right-content {
    text-align: right;
  }
}

.countryFlag {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.countrt{
  ::ng-deep .mat-mdc-text-field-wrapper{
    border: 1px solid red!important;
      border-radius: 4px!important;
  }
}