<form [formGroup]="sowForm" (ngSubmit)="onSubmit()" class="sow-form">
    <p class="form-title">SOW details auto-filled for you</p>
    <p class="form-subtitle">Review and complete any missing details, ensuring all mandatory fields (*) are filled.</p>
    <div class="formDiv">

        <div>
            <p class="section-title">Purchase Name</p>
            <p class="section-subtitle">A name helps approve and support team better understand what you're requesting.
            </p>
            <div class="formfield">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Purchase Name </mat-label>
                    <input matInput formControlName="purchase_name"
                        [ngClass]="{'auto-filled': isAutoFilled('purchase_name')}">
                    <mat-error *ngIf="isFieldInvalid('purchase_name')">This field is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <section>
            <!-- <p class="section-title">Spend Details</p> -->
            <!-- <mat-form-field class="search-box full-width" appearance="outline">
                <mat-label>Spend Category *</mat-label>
                <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto"
                    placeholder="Search..." />
                <mat-icon matSuffix>search</mat-icon>

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngIf="categoryPOCFilteredOption.length" disabled>
                        {{categoryPOCFilteredOption.length}} Results
                    </mat-option>
                    <ng-container *ngFor="let item of categoryPOCFilteredOption">
                        <mat-option (click)="selectCategoryItem(item)">
                            <div class="option-content" style="display: flex!important;font-size: 0.7rem;">
                                <div>
                                    <b>{{ item.title }}</b>
                                    <p>{{ item.description }}</p>
                                </div>
                                <div class="right-content">
                                    <b>{{ item.example }}</b>
                                    <p>{{ item.subscription }}</p>
                                </div>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field> -->

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Spend Category </mat-label>
                <mat-select formControlName="spend_category"
                    [ngClass]="{'auto-filled': isAutoFilled('spend_category')}">
                    @for (item of spendCategory; track $index) {
                    <mat-option [value]="item.toLowerCase()">{{item}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('spend_category')">This field is required</mat-error>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label>Spend Sub Category </mat-label>
                <mat-select formControlName="spend_sub_category"
                    [ngClass]="{'auto-filled': isAutoFilled('spend_sub_category')}">
                    @for (item of spendSubCategory; track $index) {
                    <mat-option [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('spend_sub_category')">This field is required</mat-error>
            </mat-form-field> -->
        </section>

        <section>
            <p class="section-title">Purchase Description</p>
            <p class="section-subtitle">Provide a detailed description of the good and/or service that the supplier will
                provide, and any other relevant project information. If applicable, include the project objective of
                deliverable </p>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Purchase Description </mat-label>
                <textarea matInput formControlName="purchase_description" rows="3"
                    [ngClass]="{'auto-filled': isAutoFilled('purchase_description')}"></textarea>
                <mat-error *ngIf="isFieldInvalid('purchase_description')">This field is required</mat-error>
            </mat-form-field>
        </section>

        <!-- <section>
            <p class="section-title">Media Plan</p>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Media Plan</mat-label>
                <input matInput formControlName="market_plan" [ngClass]="{'auto-filled': isAutoFilled('market_plan')}">
            </mat-form-field>
        </section>

        <section>
            <p class="section-title">MRFID</p>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>MRFID </mat-label>
                <input matInput formControlName="MRFID" [ngClass]="{'auto-filled': isAutoFilled('MRFID')}">
                <mat-error *ngIf="isFieldInvalid('MRFID')">This field is required</mat-error>
            </mat-form-field>
        </section> -->

        <section>
            <p class="section-title">Timeline</p>
            <div class="row">
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Work Start Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="work_start_date" [min]="today"
                        [ngClass]="{'auto-filled': isAutoFilled('work_start_date')}">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="isFieldInvalid('work_start_date')">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Work End Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="work_end_date"
                        [min]="sowForm.get('work_start_date')?.value"
                        [ngClass]="{'auto-filled': isAutoFilled('work_end_date')}">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="isFieldInvalid('work_end_date')">This field is required</mat-error>
                    <mat-error *ngIf="sowForm.errors?.['dateRangeInvalid']">End date must be after start
                        date</mat-error>
                </mat-form-field>
            </div>
        </section>


        <section>
            <p class="section-title">Select the Market(s) benefiting from the service provider</p>

            <!-- Country Selection -->
            <mat-form-field class="example-chip-list full-width" appearance="outline">
                <mat-label>Select Country</mat-label>
                <mat-chip-grid #chipGrid aria-label="Country selection">
                    @for (country of countries(); track $index) {
                    @if (country && country.length > 0) {
                    <mat-chip-row (removed)="removeCountry(country)">
                        <img class="countryFlag" *ngIf="getCountryFlag(country)" [src]="getCountryFlag(country)"
                            alt="Flag" width="30">
                        {{ country }}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                    }
                </mat-chip-grid>
                <input placeholder="Select Country" formControlName="country" #countryInput [matChipInputFor]="chipGrid"
                    [matAutocomplete]="autoCountry" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (input)="searchCountryList($event)" />
                <mat-autocomplete #autoCountry="matAutocomplete"
                    (optionSelected)="selected($event); countryInput.value = ''">
                    @for (country of uniqueCountryList; track country) {
                    <mat-option [value]="country.country_name.toLowerCase()">
                        <img class="countryFlag" *ngIf="country?.country_flag" [src]="country.country_flag" alt="Flag"
                            width="30">
                        {{ country.country_name }}
                    </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            @if (sowForm.controls['country'].invalid && sowForm.controls['country'].touched) {
            <mat-error>This field is required</mat-error>
            }

            <!-- Currency Selection -->
            <mat-form-field appearance="outline" class="full-width country">
                <mat-label>Select Currency</mat-label>
                <mat-select formControlName="currency" [ngClass]="{ 'auto-filled': isAutoFilled('currency') }">
                    @for (cur of filteredCurrencyList; track cur.country_currency) {
                    <mat-option [value]="cur.country_currency.toLowerCase()">{{ cur.country_currency }}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('currency')">This field is required</mat-error>
            </mat-form-field>
        </section>

        <!-- <section> -->
        <!-- <p class="section-title">Supplier Information</p> -->
        <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label>Select Role</mat-label>
                <input matInput formControlName="selectRole" [ngClass]="{'auto-filled': isAutoFilled('selectRole')}">
            </mat-form-field> -->
        <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label>Supplier Legal Name </mat-label>
                <input matInput formControlName="supplier_legal_name"
                    [ngClass]="{'auto-filled': isAutoFilled('supplier_legal_name')}">
                <mat-error *ngIf="isFieldInvalid('supplier_legal_name')">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Legal Name</mat-label>
                <input matInput formControlName="legal_name" [ngClass]="{'auto-filled': isAutoFilled('legal_name')}">
                <mat-error *ngIf="isFieldInvalid('legal_name')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name of Supplier POC </mat-label>
                <input matInput formControlName="supplier_poc_name"
                    [ngClass]="{'auto-filled': isAutoFilled('supplier_poc_name')}">
                <mat-error *ngIf="isFieldInvalid('supplier_poc_name')">This field is required</mat-error>
            </mat-form-field> -->
        <!-- </section> -->

        <!-- <button mat-raised-button color="primary" type="submit" class="submit-btn">Submit</button> -->
    </div>
</form>