<div class="table-layout">
  <div class="container">
    <h4>Filter Tactic by</h4>
    <div class="search-container">
      <div class="filter-container">
        <select
          class="filter"
          style="margin-right: 5px"
          [(ngModel)]="selectedFilter"
        >
          <option *ngFor="let filter of filters" [value]="filter">
            {{ filter }}
          </option>
        </select>

        <input
          style="border-left: 1px solid gray"
          class="filter"
          type="text"
          [(ngModel)]="searchText"
          placeholder=""
          (keydown.enter)="applyFilter()"
          (ngModelChange)="resetIfEmpty()"
          tabindex="0"
        />
      </div>
      <div class="filter-button">
        <img
          style="margin-top: 0.3rem; cursor: pointer"
          src="../../../../assets/images/search-icon.png"
          (click)="applyFilter()"
          tabindex="0"
        />
      </div>
    </div>

   

    <div
      [ngClass]="{ 'full-table': !conceptValue, 'half-table': conceptValue }"
    >
      <div class="table-container">
        <table
          cdkDropList
          [id]="tableDropListId"
          [cdkDropListData]="filteredData"
          [cdkDropListConnectedTo]="[sidePanelDropListId]"
          (cdkDropListDropped)="onDrop($event)"
        >
          <thead>
            <tr>
              <th></th>
              <th style="width: 20vw">Tactic Name</th>
              <th>Program / Vendor</th>
              <!-- <th>Tactic Type</th> -->
              <th>Start Date</th>
              <!-- <th>End date</th> -->
              <th>Cost Center</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let row of filteredData"
              cdkDrag
              [cdkDragData]="row"
              [ngClass]="{ 'warning-background': row?.warning }"
              cdkDragPreviewClass="drag-preview"
              [cdkDragDisabled]="row.warning !== 'P0 - In budget'"
            >
              <td class="check-container">
                <input
                  type="checkbox"
                  class="custom-checkbox"
                  [disabled]="row.warning !== 'P0 - In budget'"
                  (change)="toggleSelection($event, row)"
                />
              </td>

              <td>
                <div class="tactic-title">
                  {{ row?.id + " - " + row?.tacticName }}
                </div>
                <div class="tactic-subtitle">{{ row?.subTitle }}</div>
                <div class="warning-container">
                  <span
                    class="warning-text"
                    *ngIf="row?.warning !== 'P0 - In budget'"
                  >
                    <img src="../../../../assets/images/warning-icon.png" />
                    {{ "No (P0) Planned Spend" }}
                  </span>
                  <span
                    class="edit-tactic"
                    *ngIf="row?.warning !== 'P0 - In budget'"
                    (click)="performAction(row.warningAction)"
                  >
                    {{ "Edit Tactic" }}
                  </span>
                </div>
              </td>
              <td>{{ row?.program }}</td>
              <!-- <td>{{ row?.type }}</td> -->
              <td>{{ row?.startDate }}</td>
              <!-- <td>{{ row?.endDate }}</td> -->
              <td>{{ row?.costCenter }}</td>
            </tr>

            <!-- No data message -->
            <tr *ngIf="filteredData.length === 0">
              <td colspan="3" class="no-data-cell">
                <div class="no-data-wrapper">
                  <img
                    src="assets/images/no-data-icon.png"
                    alt="No Data"
                    class="no-data-icon"
                  />
                  <div class="no-data-text">
                    Your Search did not return any initial results because there
                    are no tactics that match your search critera. You can
                    refine your search and reload tactic and try again.
                  </div>
                </div>

              
                  
                  <p>
                   
                    <span class="refresh" (click)="refreshTactic()"
                      ><img />refresh the list</span
                    >
                  </p>
              
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        *ngIf="conceptValue == true"
        cdkDropList
        [id]="sidePanelDropListId"
        [cdkDropListData]="droppedItems"
        [cdkDropListConnectedTo]="[tableDropListId]"
        (cdkDropListDropped)="onDrop($event)"
        class="side-panel"
      >
        <h3>Selected Items</h3>

        <div *ngIf="droppedItems.length === 0" class="empty-message">
          Drag items here from the table
        </div>

        <div *ngIf="droppedItems.length > 0" class="dropped-items-list">
          <div
            *ngFor="let item of droppedItems"
            class="dropped-item"
            cdkDrag
            [cdkDragData]="item"
          >
            <span>{{ item.tacticName }}</span>
            <button (click)="returnItem(item)">×</button>
          </div>
        </div>

        <!--  -->
      </div>
    </div>
  </div>
  <br />
  <div class="Create-spend-request-button-div">
    <button class="back-continue-button back" (click)="clickNext('back')">
      Back
    </button>
    <button
      class="back-continue-button continue"
      [ngClass]="{ active: isActive && selectedData.length }"
      (click)="clickNext('continue')"
    >
      Continue
    </button>
  </div>
</div>

<div class="overlay" *ngIf="editPopUp">
  <div class="popup">
    <div class="title">
      <h2>Edit Tactic</h2>
      <button class="closeX" (click)="closePopup()">X</button>
    </div>

    <div>
      <!-- <img src="" />  Empty image   ?????/ -->
      <p>You are about to leave this page are you sure</p>
    </div>

    <div class="botton-buttons">
      <button class="btn-1">Cancel</button>
      <button class="btn-2">Continue</button>
    </div>
  </div>
</div>
