<div class="container">
    <h2>Almost there! Fill in Risk Assessment details</h2>
    <p>Please review and complete the required fields.</p>
  
    <h3>Supplier Details</h3>
    <p>Review the supplier details and ensure all information is accurate and up to date.</p>
  
    <form [formGroup]="riskForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Supplier Legal Name *</mat-label>
        <input matInput formControlName="supplier_legal_name" [disabled] = true />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Legal Name</mat-label>
        <input matInput formControlName="legal_name" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name of supplier primary point of contact</mat-label>
        <input matInput formControlName="primaryContactName" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email of supplier primary point of contact</mat-label>
        <input matInput formControlName="primaryContactEmail" type="email" />
      </mat-form-field>
  
    

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Supplier POC *</mat-label>
        <input matInput formControlName="supplier_poc_name" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Supplier POC Email *</mat-label>
        <input matInput formControlName="supplier_poc_email" type="email" />
      </mat-form-field>
  
 
  
    
        <h3>Additional Details</h3>
        <p>Please review and update any additional details to ensure completeness and accuracy.</p>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>In what type of location will services be performed? *</mat-label>
          <input matInput formControlName="serviceLocation" />
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Do you need to supervise the worker's activities? *</mat-label>
          <mat-select formControlName="supervisionRequired" multiple>
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Do you need a badge or google account for supplier workers for more than 30 days? *</mat-label>
          <mat-select formControlName="googleBadge" multiple>
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Will the supplier create deliverables visible to the public? *</mat-label>
          <mat-select formControlName="deliverablesPublic" multiple>
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Is anything in your project accessible by children or minors (age 18 or under)? *</mat-label>
          <mat-select formControlName="childrenAccessible" multiple>
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Is your supplier any of the following? *</mat-label>
          <mat-select formControlName="supplierType" multiple>
            <mat-option value="independent_contractor">Independent contractor</mat-option>
            <mat-option value="vendor">Vendor</mat-option>
            <mat-option value="agency">Agency</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Does your project involve any of the following? *</mat-label>
          <mat-select formControlName="projectInvolve" multiple>
            <mat-option value="software_development">Software Development</mat-option>
            <mat-option value="It_Service">IT Service</mat-option>
            <mat-option value="xyz">XYZ</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Which of these marketing activities are part of the purchase? *</mat-label>
          <mat-select formControlName="marketingActivities" multiple>
            <mat-option value="digital_advertising">Digital Advertising</mat-option>
            <mat-option value="content_creation">Content Creation</mat-option>
            <mat-option value="event_sponsorship">Event Sponsorship</mat-option>
            <mat-option value="social_media">Social Media</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Will a signed contract be required for this purchase regardless of the risk level? *</mat-label>
          <mat-select formControlName="signedContract">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Has work already begun on your purchase? *</mat-label>
          <mat-select formControlName="workBegun">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Does the Googler who decided to hire this supplier have any of the following relationships with the supplier? *</mat-label>
          <mat-select formControlName="googlerRelationship">
            <mat-option value="none">None</mat-option>
            <mat-option value="family">Family</mat-option>
            <mat-option value="business">Previous Business</mat-option>
            <mat-option value="friend">Friend</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Is the supplier a government body or official, or will they interact on Google’s behalf? *</mat-label>
          <mat-select formControlName="govtInteraction">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Will the supplier exclusively use Google equipment and credentials? *</mat-label>
          <mat-select formControlName="googleEquipment">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Will any workers be exposed to extreme content? *</mat-label>
          <mat-select formControlName="extremeContent">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
     
      </form>
      
  
      
  </div>
  


<div class="container">
    <div class="Create-spend-request-button-div">
        <button class="back-continue-button back" (click)="clickNext('back')">Back</button>
        <button class="back-continue-button continue" [ngClass]="{'active':isActive}" (click)="clickNext('continue')">Continue</button>
    </div>
</div>