<div class="container">
  @if (!showSowForm){
    <div class="browsDiv">
       <p class="upload-heading">Upload your draft SOW</p>
       <p>to let AI automatically fill in your information.</p>
     
       <div class="upload-box">
        @if (selectedFiles.length === 0) {
          <img src="../../../../assets/images/browe-file.png" alt="Upload Icon" />
        }
        @else {
          <div class="file-list">
            @for (file of selectedFiles; let i = $index;track $index) {
              <div class="file-div" >
                <div class="file-name">{{ file.name }} {{file.fileSizeMB}} </div>
                <div class="file-item" >
                  <img style="height:2vh"  src="../../../../assets/images/tick-green-circle-icon.png" />
                  <div class="progress-bar">
                    <div class="progress" [style.width.%]="file.progress"></div>
                  </div>
                  <span class="remove-file" (click)="removeFile(i)">✖</span>
                </div>
                <div class="select-access-type">
                  <span class="userName">
                    <div class="avatar">{{ firstLetter }}</div>
                   {{userData?.email}} </span>
                  <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Select file access type</mat-label>
                    <mat-select [(ngModel)]="accessType">
                      <mat-option value="writer">Edit</mat-option>
                        <mat-option value="reader">View</mat-option>
                        <mat-option value="commenter">Comment</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
              </div>
            }
          </div>
        }
         <button class="browse-btn"  (click)="openGoogleDrivePicker()">Browse File</button>
       </div>
     
     
       <p class="skip-text">Don’t have one yet? <br>You may skip this step and enter the information you do have in the next step.</p>
     </div>
  }
  @else {
      <app-sow-form [extractedData]="extractedData" (formDataChange)="onFormChange($event)" />
  }
  <hr />
    <div class="Create-spend-request-button-div">
        <button class="back-continue-button back" (click)="clickNext('back')">Back</button>
        @if (!showSowForm) {
          <button class="back-continue-button continue" [ngClass]="{'active':isActive}" (click)="clickNext('extract')">Continue</button>
        }
        @else {
          <button class="back-continue-button continue" [ngClass]="{'active':isActive}" (click)="clickNext('submit')">Continue</button>
        }
      </div>
</div>