<div class="container">
     <div class="container">
        <h2>Upload your draft SOW</h2>
        <p>to let AI automatically fill in your information.</p>
      
        <div class="upload-box" (click)="openGoogleDrivePicker()">
          <img src="../../../../assets/images/browe-file.png" alt="Upload Icon" />
          <button class="browse-btn">Browse File</button>
        </div>
      
        <div *ngIf="selectedFiles.length > 0" class="file-list">
          <div class="file-item" *ngFor="let file of selectedFiles; let i = index">
            <span class="file-name">{{ file.name }}</span>
            <div class="progress-bar">
              <div class="progress" [style.width.%]="file.progress"></div>
            </div>
            <span class="remove-file" (click)="removeFile(i)">✖</span>
          </div>
        </div>
      
        <p class="skip-text">Don’t have one yet? <br>You may skip this step and enter the information you do have in the next step.</p>
      </div>
      
      <!-- <app-sow-form /> -->
    <div class="Create-spend-request-button-div">
        <button class="back-continue-button back">Back</button>
        <button class="back-continue-button continue" [ngClass]="{'active':isActive}" (click)="clickNext()">Continue</button>
    </div>
</div>