.stepper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.step-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.step-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.step-circle {
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 50%;
  background-color: #69696B;
  color: #F8F8FA;
  // cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
  z-index: 2;
}

.step-circle.active {
  background-color: #1C73DF;
  color: white;
}

.step-circle.error {
  background-color: red;
  color: white;
}

/* Step Labels */
.step-details {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.step-label {
  font-size: 0.7rem;
}

.step-sub-label {
  font-size: 0.6rem;
  color: #4285f4;
  line-height: 0.6rem;
}

.step-error {
  color: red;
  font-size: 0.6rem;
}

/* ✅ Finally Fixed the Horizontal Line */
.step-line {
  flex-grow: 1; /* ✅ This makes it stretch properly between steps */
  height: 0.5px;
  background-color: #80808078;
  margin: 0 10px; /* ✅ This adds space on both sides */
}

/* Hide line for last step */
.step-wrapper:last-child .step-line {
  display: none;
}
