  .stepper-container {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }

  .step-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  .step-circle {
    width: 20px;
    height: 20px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    background-color: #69696B;
    color: #F8F8FA;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .step-circle.active {
    background-color: #1C73DF;
    color: white;
  }

  .step-circle.error {
    background-color: red;
    color: white;
  }

  .step-details {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  .step-label {
    font-size: 0.7rem;
  }

  .step-sub-label {
    font-size: 0.6rem;
    color: #4285f4;
    line-height: 0.6rem;
  }

  .step-error {
    color: red;
    font-size: 0.6rem;
  }

  /* Horizontal Line - Positioned AFTER Each Label */
  .step-line {
    height: 2px;
    width: 11vw;
    background-color: gray;
    position: relative;
    top: 50%;
    margin-left: 12px;
  }