<!-- <div class="tabs">
    @for (tab of tabs; track $index;let i = $index) {
        <div class="tab-item" [class.active]="tab?.value === activeTab" (click)="selectTab(tab,i)">
            <div class="tab-circle" [class.active-circle]="tab?.value === activeTab">{{ i + 1 }}</div>
            <span class="tab-label">{{ tab.label }}</span>
            @if (i < tabs.length - 1) {
                <div class="tab-line"></div>
            }
          </div>
    }
  </div> -->
  <div class="stepper-container">
    @for (step of tabs; track $index;let i = $index) {
      <div class="step-wrapper">
        <!-- [ngClass]="{'active': activeTab === step?.value, 'error': step.hasError}"  -->
        <div class="step-circle" 
             [ngClass]="{'active': activeTab === step?.value}" 
             (click)="selectStep(step?.value)">
          {{ i + 1 }}
        </div>
  
        <div class="step-details">
          <div class="step-label">{{ step.label }}</div>
          @if (step.subLabel) {
            <div class="step-sub-label">{{ step.subLabel }}</div>
          }
          @if (step.hasError) {
            <div class="step-error">{{ step.errorMessage }}</div>
          }
        </div>
  
        @if (i < tabs.length - 1) {
          <div class="step-line"></div>
        }
      </div>
    }
  </div>
  
  <!-- <div class="step-content">
    @switch (activeStep) {
      @case (0) { <p>Content for Tactics</p> }
      @case (1) { <p>Content for SOW</p> }
      @case (2) { <p>Content for Risk Assessment</p> }
      @case (3) { <p>Content for Review and Submit</p> }
      @default { <p>Select a step to view details</p> }
    }
  </div> -->
  
  