<div class="layout">
    <div class="create-content">
        <div class="create-spend-request-header-and-tab">
            <div class="header">
                <img style="height: 1.5rem;margin-right: 1rem;" src="../../../../assets/images/lounch-point-logo.png" />
                <p style="margin: 0px;">Create Smart Spend Request</p>
            </div>
            @if (activePage !=='Request Type') {
            <div class="tab">
                <app-tab ngSkipHydration [activeTab]="activeTab" (tabClick)="tabClick($event)"></app-tab>
            </div>
            }
        </div>
        <div class="body-content" style="display: flex;">

            <div class="content">
                <div
                    [style]="(chatVisible && activePage !=='Request Type')? {width:'80vw'} : {width:'95vw',margin: 'auto'}">
                    @if (activePage ==='Request Type') {
                    <app-request-type (cardClick)="requestType($event)"></app-request-type>
                    }
                    @else if (activeTab === 'tactic' ) {
                    <app-tactic-table (tacticClick)="onTacticSelection($event)" ngSkipHydration></app-tactic-table>
                    }
                    @else if (activeTab === 'sow' ) {
                    <app-sow (sowClick)="onSowSelection($event)" [rowId]="rowId" ngSkipHydration></app-sow>
                    }
                    @else if (activeTab === 'allocatedBudget' ) {
                    <app-allocated-budget (allocatedBudgetSubmit)="onAllocatedBidgetSelection($event)"
                        ngSkipHydration></app-allocated-budget>
                    }
                    @else if (activeTab === 'riskAssessment' ) {
                    <app-risk-assessment (riskAssessmentClick)="onRiskAssessmentSelection($event)"
                        ngSkipHydration></app-risk-assessment>
                    }
                    @else if (activeTab === 'reviewAndSubmit' ) {
                    <app-submit-spend-request (finalSubmitionClick)="onFinalSubmitionClick($event)"
                        ngSkipHydration></app-submit-spend-request>
                    }
                </div>
            </div>
            @if (chatVisible && activePage !=='Request Type') {
            <div class="chat-container" [style]="chatVisible? {width:'20%'} : {display:'none'}">
                <div class="chat-header">
                    <span class="chat-title">Hello, {{this.userData?.email}}</span>
                    <span class="close-icon" (click)="toggleChat()">&#10006;</span>
                </div>
                <div #chatContainer class="chat-body">
                    @for (msg of messages?.messages; track $index;let i= $index) {
                    @if (msg.role === 'assistant') {
                    <div class="ai">
                        <div style="display: flex;">
                            <img class="chat-icon" src="../../../../assets/images/ai-icon.png" alt="AI">
                            <div class="chat-bubble ai-message" [innerHTML]="msg['content']"></div>
                        </div>
                        @if (messages?.options && i === messages?.messages.length - 1) {
                        <div class="options-container">
                            @for (option of messages?.options; track $index) {
                            <button class="option-button" (click)="selectOption(option)">{{ option }}</button>
                            }
                        </div>
                        }
                    </div>
                    }
                    @if (msg.role === 'user') {
                    <div class="user" style="display: flex; justify-content: right;">
                        <div class="chat-bubble user-message" [innerHTML]="msg.content"></div>
                        <div class="avatar">{{userAvtarText}} </div>
                        <!-- <img class="user-icon" src="../../../../assets/images/user-icon.png" alt="User"> -->
                    </div>
                    }
                    }
                </div>
                <div class="chat-footer">
                    <input type="text" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Type your message here ..." />
                    <button (click)="sendMessage()">
                        <img src="../../../../assets/images/send-icon.png" />
                    </button>
                </div>
            </div>
            }
        </div>

    </div>

</div>